<div class="centify jumbotron">
	<h1>Welcome</h1>
	<h3>You are at Deep Blue Dev's Internal Project Management System.</h3>
	<a href="/projects">Log-In</a>
</div>
<div class="fluid-container">
	<div class="row">
		<div class="col-lg-4 col-md-2 centify">
			<div class="panel panel-default">
			  <div class="panel-body">
			    Create a Project
			  </div>
			  <div class="panel-footer"><a class="btn btn-primary" href="/projects">New Project</a></div>
			</div>
		</div>
		<div class="col-lg-4 col-md-2 centify">
			<div class="panel panel-default">
			  <div class="panel-body">
			    Visit our Website
			  </div>
			  <div class="panel-footer"><a class="btn btn-primary" href="http://www.deepbluedev.co">Check us Out</a></div>
			</div>
		</div>
		<div class="col-lg-4 col-md-2 centify">
			<div class="panel panel-default">
			  <div class="panel-body">
			    Sign-Up
			  </div>
			  <div class="panel-footer"><a class="btn btn-primary" href="/users/sign_up">Sign Up</a></div>
			</div>
		</div>
	</div>

</div>
