<div class="centify jumbotron">
	<h1>Welcome</h1>
	<h3>You are at Deep Blue Dev's Internal Project Management System.</h3>
	<a class="btn btn-default" href="/projects">Log-In</a>
</div>
<div class="fluid-container">
	<div class="row">
		<div class="col-lg-4 col-md-2 centify">
			<div class="panel panel-default">
			  <div class="panel-body">
			    Sign-up
			  </div>
			  <div class="panel-footer"><a class="btn btn-primary" href="/projects">New Project</a></div>
			</div>
		</div>
		<div class="col-lg-4 col-md-2 centify">
			<div class="panel panel-default">
			  <div class="panel-body">
			    Visit our Website
			  </div>
			  <div class="panel-footer"><a class="btn btn-primary" href="http://www.deepbluedev.co">Check us Out</a></div>
			</div>
		</div>
		<div class="col-lg-4 col-md-2 centify">
			<div class="panel panel-default">
			  <div class="panel-body">
			    Get a Quote
			  </div>
			  <div class="panel-footer"><a class="btn btn-primary" href="https://docs.google.com/forms/d/1VRqeY0pgXKMkdmJyjlfsY-nSktU_9usZgpmF1Z9IaZ8/viewform?usp=send_form">Quote</a></div>
			</div>
		</div>
	</div>

</div>
